.login-page{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #f7f7f7;
    color: #333;
  }
  
div.login-page {
    max-width: 500px;
    /* max-width: 50%; */
    margin: 50px auto;
    padding: 20px;
    margin-top: 60px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

.forgot-password-page{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #f7f7f7;
    color: #333;
  }

div.forgot-password-page {
    max-width: 450px;
    /* max-width: 50%; */
    margin: 50px auto;
    padding: 20px;
    margin-top: 60px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
.signup-page{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    background-color: #f7f7f7;
    color: #333;
  }
  
div.signup-page{
    max-width: 500px;
    /* max-width: 50%; */
    max-height: 500px;
    margin: 50px auto;
    padding: 20px;
    margin-top: 50px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }


  h2 {
    text-align: center;
    margin-top : 0.5rem;
    margin-bottom: 0.5rem;
    color: #444;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #6c63ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5753c9;
  }
  
  a {
    color: #5550bb;
    text-decoration: none;
    text-align: center;
    display: block;
    margin-top: 10px;
  }
  
  a:hover {
    text-decoration: underline; 
  }
